@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Estilos Gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: white;
}

.container, .row, .col-12 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Cabeçalho */
.topo {
    color: white !important;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

/* Textos */
h1, h2, h3 {
    margin: 1rem 0;
    color: #0a1f4e !important;
    text-align: center;
    line-height: 1.2;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 1rem 1rem 1rem;
    text-align: justify;
}

/* Imagens e Vídeos */
img{
    max-width: 100% ;
    height: auto ;
    display: block;
    margin: 0 auto;
}

iframe {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
}

/* Navegação */
.navbar {
    background-color: #f54e51 !important;
    padding: 1rem;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.nav-link {
    font-size: 18px;
    color: white !important;
}

.nav-link:hover {
    color: #0a1f4e !important;
    border-top: solid 5px black !important;
    transition: margin-top 2s .5s;
}

 a {
   text-decoration: none;
   color: #0a1f4e; 
}

a:hover{
    color: #f54e51 !important;
}

/* Rodapé */
.footer {
    padding: 50px !important;
    text-align: center !important;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .topo {
        font-size: 1.5rem;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 14px;
    }

    iframe {
        display: none; /* Ocultar vídeos */
    }

    .footer {
        font-size: 12px;
    }

    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 480px) {
    .topo {
        font-size: 1.2rem;
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 12px;
    }

    .navbar-nav {
        gap: 0.3rem;
    }

    .footer {
        padding: 1rem;
        text-align: center;
    }
}


