@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: white;
}

.container, .row, .col-12 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Cabeçalho */
.topo {
    color: white !important;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

.Turismo_oqueé {
    margin-top: 20% !important;
}

/* Textos */
h1, h2, h3 {
    margin: 1rem 0;
    color: #0a1f4e !important;
    text-align: center;
    line-height: 1.2;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 1rem 1rem 1rem;
    text-align: justify;
}

/* Imagens e Vídeos */
img{
    max-width: 100% ;
    height: auto ;
    display: block;
    margin: 0 auto;
}

iframe {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
}

/* Navegação */
.navbar {
    background-color: #f54e51 !important;
    padding: 1rem;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.nav-link {
    font-size: 18px;
    color: white !important;
}

.nav-link:hover {
    color: #0a1f4e !important;
    border-top: solid 5px black !important;
    transition: margin-top 2s .5s;
}

 a {
   text-decoration: none;
   color: #0a1f4e; 
}

a:hover{
    color: #f54e51 !important;
}

/* Rodapé */
.footer {
    padding: 50px !important;
    text-align: center !important;
}

/* Responsividade */
@media (max-width: 768px) {

    .topo {
        font-size: 1.5rem;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        text-align: center !important;
    }

    iframe {
        display: none; /* Ocultar vídeos */
    }

    img {
        margin-left: 25% !important;
    }

    .centralizar_img_h1 {
     margin-top: 20%;
      text-align: center;
    }

    body {
        overflow-x: hidden;
        text-align: center !important;
    }

    .pf {
        font-size: 1rem !important;
    }

    .rm {
        display: none;
    }

    .Turismo_oqueé {
     margin-top: 50% !important;
    }

    .Turismo_importancia {
        margin-top: 20% !important;
    }

    .Tusimo_pontos {
        margin-top: 20% !important;
    }

    .Turismo_Destinos {
        margin-top: 40% !important;
    }

    .p_embaixo_do_table {
        margin-top: 5% !important;
    }

    .Primeiro_Destino {
        margin-top: 60% !important;
    }

    .p_Destinos {
        margin-top: 10% !important;
    }

    .p_Sao_Cristóvao {
        margin-top: 5% !important;
    }

    .img_Sao_Cristovao {
        margin-top: 35% !important;
        margin-left: 15% !important;
        margin-bottom: 0% !important;
    }

    .p_iframe_remover {
        display: none !important;
    }

    .Belize {
        margin-top: -50% !important;
    }

    .p_Belize {
        margin-top: -30% !important;
    }

    .img_Belize {
        margin-left: 15% !important;
    }

    .El_Salvador {
        margin-top: -70% !important;
    }

    .p_El_Salvador {
        margin-top: -40% !important;
    }

    .img_El_Salvador{
        margin-left: 15% !important;
        margin-top: -10% !important;
    }

    .Cidade_Mexico {
        margin-top: -80% !important;
    }

    .p_Cidade_Mexico {
        margin-top: -45% !important;
    }

    .img_Cidade_Mexico{
        margin-left: 15% !important;
        margin-top: -10% !important;
    }

    .Brasil {
        margin-top: -90% !important;
    }

    .p_Brasil {
        margin-top: -55% !important;
    }

    .img_Brasil{
        margin-left: 15% !important;
        margin-top: 20% !important;
    }

    .Glossario {
        margin-top: -90% !important;
        margin-bottom: 50%;
    }
}





